@model AnhQuoc_MVC_C5.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <div class="mb-3 mt-3">
        <label for="name" class="form-label" style="font-weight: bold;">@nameof(Model.Name)</label>
        <input type="text" class="form-control" id="name" value="@Model.Name" name="name" readonly>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>
